* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
body {
    background-color: rgba(34, 50, 123, 0.632);
}
main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.483);
}
img.lado{
    float: right;
}
img.center{
    float: right;
}